userprog/build
*.o
*.d
*.a
examples/bubsort
examples/cat
examples/cmp
examples/cp
examples/echo
examples/halt
examples/hex-dump
examples/insult
examples/lineup
examples/ls
examples/matmult
examples/mcat
examples/mcp
examples/mkdir
examples/pwd
examples/recursor
examples/rm
examples/shell
*.dsk